<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Qualquer outra dúvida não deixe de entrar em contato.
    <br />
    Equipe Gympoint
  </small>
</p>
